#root {
  width: 100%;
  height: 100vh;
}

.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  background: linear-gradient(to bottom, #e1fff3, #dbfbff);
  flex-direction: column;
  gap: 80px;
  align-items: center;
}

.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  box-shadow: rgb(53, 52, 52) 0px 0px 10px -6px;
  backdrop-filter: blur(10px);
  background: linear-gradient(to right, #f4eaff88, #defbff);
  border-radius: 8px;
  height: 280px;
  width: 300px;
  font-size: large;
  font-family: monospace;
}

.userCard h2 {
  margin: 10px 0px -6px 0px;
}

.user-head {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.user-head img {
  width: 60px;
  height: 60px;
  border-radius: 20%;
  border: rgb(127, 140, 141) 1px solid;
}

.user-head p {
  font-size: 1.1rem;
  font-weight: 400;
  color: #000000d7;
  border-bottom: #929292 1px solid;
}
